<html>
  <head>
  	<title>Blog</title>
  </head>
  <body>
        <div>
            <h1><a href="/">Йога</a></h1>
        </div>

        <div>
            <p>published: 03.07.2020, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Интервью с редактором «РазДельного Сбора» об акциях йога-компаний и переработке использованных ковриков.</p>
        </div>

        <div>
            <p>published: 03.07.2020, 12:16</p>
            <h2><a href="">My second post</a></h2>
            <p>Сильные мышцы корсета — это правильная осанка, втянутый живот, упругие ягодицы и отсутствие напряжения в теле.</p>
        </div>
    </body>
</html>